/* Header*/
.header {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.logo-kategori {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 3.5rem;
  width: 7rem;
}

.kategori {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.kategori-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.search-product {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 24rem;
}

.payment-button {
  background-color: #34adad;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.notif-button,
.shop-button,
.message-button {
  background: none; /* Menghilangkan background */
  border: none; /* Menghilangkan border */
  padding: 0; /* Menghilangkan padding */
  cursor: pointer; /* Menunjukkan bahwa elemen dapat diklik */
  display: flex; /* Menjaga agar gambar berada di tengah tombol */
  align-items: center;
  justify-content: center;
}

.notif-button:focus,
.shop-button:focus,
.message-button:focus {
  outline: none; /* Menghilangkan outline saat tombol terfokus */
  box-shadow: none; /* Menghilangkan shadow jika ada */
}

.notif-button:active,
.shop-button:active,
.message-button:active {
  border: none; /* Menghilangkan border saat tombol diklik */
}

.profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.greeting {
  font-size: 1rem;
}

/* Responsiveness */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-payment {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .search-input {
    width: 100%;
  }

  .logo-kategori {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
